*{
    background-color:#210E09 ;
}

.menu-items {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
    
.menu-logo {
    text-align: right;
}
.layout {
    padding: 20px;
}